.confirmationReservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/lemonDessert1.jpg");
  gap: 32px;
}

li {
  font-family: "Karla", sans-serif;
  font-size: 24px;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 64px;
}

@media only screen and (max-width: 850px) {
  .containerBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
