body {
  overflow-x: hidden;
}

.contactPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContact {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  color: #495e57;
  font-style: italic;
  margin-top: 96px;
  left: 20%;
  position: absolute;
}

.contactOverlappingContent {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  height: 800px;
  width: 800px;
  align-items: center;
  margin-bottom: 96px;
}

iframe {
  width: 800px;
  height: 512px;
}

.containerContactLinks {
  height: 400px;
  width: 400px;
  position: absolute;
  margin-left: 512px;
  margin-top: 256px;
  background-color: #ffffff;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border-radius: 16px;
}

.containerIconLink {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  align-self: center;
}

.linkContact {
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 32px;
}

.hrContact {
  width: 10%;
}
