.containerLogoTypography {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 32px;
}

.map {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.imgLogo {
  height: 256px;
}
