.containerFooter {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
}

.containerLogoTypography {
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 96px;
  gap: 32px;
  margin-left: 64px;
}

.map {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.imgLogo {
  height: 128px;
  align-self: center;
}

.containerTypoA {
  display: flex;
  flex-direction: column;
}

.containerAFooter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 850px) {
  .containerFooter {
    display: none;
  }
}
