.heroSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
  height: 512px;
}

.heroContent {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.h1Hero {
  color: #f4ce14;
  font-size: 48px;
}

.h3Hero {
  color: white;
  font-size: 32px;
}

.pHero {
  color: white;
  width: 512px;
  font-size: 24px;
}

.buttonCTABook {
  margin-top: 64px;
  margin-bottom: 80px;
  z-index: 1;
}

.heroImg {
  margin-left: 64px;
  margin-bottom: -192px;
  object-fit: cover;
  width: 448px;
  height: 448px;
  border-radius: 16px;
}

.highlightsSection {
  display: flex;
  flex-direction: column;
}

.highlightsTitleButton {
  display: flex;
  flex-direction: row;
  margin-top: 128px;
  gap: 40%;
}

.containerCard {
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 96px;
}

.buttonCTAOrderOnline {
  align-self: center;
  z-index: 1;
}

.testimonialsSection {
  margin-top: 96px;
}

.containerCardReview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  margin-top: 64px;
  margin-bottom: 96px;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 96px;
  padding-bottom: 96px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 512px;
}

.containerImgAbout {
  display: flex;
  width: 448px;
  height: 448px;
  margin-left: 64px;
}

.imgCook {
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
  align-self: flex-end;
}

.imgCook1 {
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
  margin-left: -64px;
}

hr {
  width: 50%;
}

@media only screen and (max-width: 1350px) {
  .heroImg {
    display: none;
  }

  .highlightsTitleButton {
    gap: 30%;
  }

  .containerCard {
    display: flex;
    flex-wrap: wrap;
  }
  .containerCardReview {
    display: flex;
    flex-wrap: wrap;
  }

  .aboutSection {
    flex-direction: column;
    align-items: center;
  }

  .aboutContent {
    margin: 32px;
  }
  .containerImgAbout {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 900px) {
  .highlightsTitleButton {
    gap: 20%;
  }
}

@media only screen and (max-width: 650px) {
  .buttonCTA {
    align-self: center;
  }

  .highlightsTitleButton {
    flex-direction: column;
    align-items: center;
    margin-left: -20%;
  }

  .buttonOrderOnline {
    margin-left: 20%;
  }

  .testimonialsSection {
    margin-left: 8%;
  }

  .containerCardReview {
    flex-direction: column;
    align-items: center;
    margin-left: -8%;
  }
}

@media only screen and (max-width: 550px) {
  .containerImgAbout {
    display: none;
  }

  .heroContent {
    width: 80vw;
  }

  .aboutContent {
    width: 80vw;
  }
}
