.heroSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #495e57;
  height: 512px;
}

.heroContent {
  display: flex;
  flex-direction: column;
}

.h1Hero {
  color: #f4ce14;
  font-size: 48px;
}

.h3Hero {
  color: white;
  font-size: 32px;
}

.pHero {
  color: white;
  width: 512px;
  font-size: 24px;
}

.btnCTA {
  margin-top: 64px;
  margin-bottom: 80px;
}

.heroImg {
  margin-left: 64px;
  margin-bottom: -192px;
  object-fit: cover;
  width: 448px;
  height: 448px;
  border-radius: 16px;
}

.highlightsSection {
  display: flex;
  flex-direction: column;
}

.highlightsTitleBtn {
  display: flex;
  flex-direction: row;
  margin-top: 128px;
  gap: 704px;
}

.containerCard {
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: center;
  margin-top: 64px;
  margin-bottom: 96px;
}

.btnOrderOnline {
  align-self: center;
}

.testimonialsSection {
  margin-top: 96px;
}

.containerCardReview {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 64px;
  margin-top: 64px;
  margin-bottom: 96px;
}

.aboutSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 96px;
  margin-bottom: 96px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 512px;
}

.containerImgAbout {
  display: flex;
  width: 448px;
  height: 448px;
  margin-left: 64px;
}

.imgCook {
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
  align-self: flex-end;
}

.imgCook1 {
  height: 320px;
  object-fit: cover;
  border-radius: 16px;
  margin-left: -64px;
}
