body {
  margin: 0px;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #edefee;
  align-items: center;
  height: 64px;
  justify-content: center;
}

.logoYellowGreen {
  object-fit: cover;
  height: 40px;
  padding-left: 64px;
  position: absolute;
  left: 0;
  top: 12px;
}

.containerButtons {
  display: flex;
  flex-direction: row;
}

.navBarMenuResponsive {
  display: none;
}

@media only screen and (max-width: 1380px) {
  #btnNavBar {
    display: none;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .navBarMenuResponsive {
    display: flex;
    padding-right: 64px;
    color: #495e57;
  }
}
