body {
  margin: 0px;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: #edefee;
  align-items: center;
  height: 64px;
  justify-content: center;
}

.navBarPrimary {
  display: flex;
  flex-direction: row;
  background-color: #495e57;
  align-items: center;
  height: 64px;
  justify-content: center;
}

.logoYellowGreen {
  object-fit: cover;
  height: 40px;
  padding-left: 64px;
  position: absolute;
  left: 0;
  top: 12px;
}

.containerButtons {
  display: flex;
  flex-direction: row;
}

.navBarMenuResponsive {
  display: none;
}

@media only screen and (max-width: 1540px) {
  .containerButtons {
    display: none;
  }
  .navBarMenuResponsive {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 64px;
    align-items: center;
    color: #495e57;
  }

  .menuIcon {
    cursor: pointer;
  }

  .logoYellowGreen {
    position: relative;
    margin-bottom: 24px;
  }
}
