.ReservationPage {
  display: flex;
  flex-direction: column;
}

.imgReservation {
  height: 512px;
  width: 100%;
  object-fit: cover;
}

iframe {
  width: 80%;
  height: 512px;
  align-self: center;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 64px;
}

.input {
  width: 512px;
}

.dateTime {
  width: 512px;
}

.guestCount {
  width: 512px;
}

.containerChips {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.chip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.buttonSubmit {
  margin-bottom: 128px;
}

@media only screen and (max-width: 850px) {
  .input {
    display: flex;
    justify-content: center;
    width: 60vw;
  }
  .dateTime {
    display: flex;
    justify-content: center;
    width: 60vw;
  }

  .guestCount {
    display: flex;
    justify-content: center;
    width: 60vw;
  }
}
