.app:before {
  background-image: url("../src/assets/lemon-background.png");
  background-position: center;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
}

.app {
  position: relative;
}
.home,
.contactPage {
  background-color: #edefee;
}
